@import "../../assets/style/common.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
audio {
  position: absolute;
  left: -9999px;
  bottom: -9999px;
  height: 1px;
  width: 1px;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  font-size: 30px;
}
@keyframes progress {
  0% {
    width: 0;
  }
  95%, 99% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  &.no-flex {
    display: block;
  }
}
.loading {
  .progress-bar {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .bar, .bar-active {
      width: 300px;
      background: #A1C1C8;
      height: 20px;
      border-radius: 16px;
    }
    .bar-active {
      background: #8bc34a;
      width: 0;
      position: relative;
      top: -20px;
    }
  }
}

#resultNode {
  position: relative;
  background: url('../../assets/img/bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 200%;
}
article {
  position: absolute;
  font-family: 'FZYanSJW_Zhun';
  text-align: center;
  font-size: 80px;
  line-height: 1.6;
  color: #ffffff;
}
.mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  &.bottom {
    background: #000000;
    opacity: 0.3;
  }
  &.front {
    background: #ffffff;
  }
}
#qrcode {
  width: 20%;
  margin-top: 80px;
}