@import "../../assets/style/common.scss";

[w-750-250]{
	width: 750px;
}
[w-750-250]{
  aspect-ratio:'750:250';
}

[w-499-250]{
  width: 499px;
}
[w-499-250]{
  aspect-ratio:'499:250';
}
[w-250-250]{
	width: 250px;
}
[w-250-250]{
  aspect-ratio:'250:250';
}
[w-375-246]{
	width: 375px;
}
[w-375-246]{
	aspect-ratio:'375:246';
}
[w-188-246]{
	width: 188px;
}
[w-188-246]{
	aspect-ratio:'188:246';
}
[w-187-246]{
	width: 187px;
}
[w-187-246]{
	aspect-ratio:'187:246';
}