@import "../../assets/style/common.scss";

* {
  margin: 0;
  padding: 0;
}
audio {
  position: absolute;
  left: -9999px;
  bottom: -9999px;
  height: 1px;
  width: 1px;
}
article {
  font-family: 'FZYanSJW_Zhun';
  text-align: center;
  padding: 80px 40px;
  font-size: 40px;
  line-height: 2;
  color: #737373;
}